.aside.text2image.unity-enabled {
  overflow: unset;
}

.aside.text2image.unity-enabled [class^="heading-"]:only-of-type,
.aside.text2image.unity-enabled [class^="heading-"]:last-of-type {
  margin-bottom: var(--spacing-xxs);
  color: #222;
}

.aside.text2image.unity-enabled p:last-of-type {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  padding-top: var(--spacing-s);
}

.aside.text2image.unity-enabled .foreground.container {
  width: 100%;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area {
  display: flex;
  justify-content: center;
  background: none;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area .text {
  max-width: 800px;
  margin: var(--spacing-xxl) 0 var(--spacing-m);
}

.aside.text2image.unity-enabled .icon-area {
  margin-bottom: var(--spacing-xxs);
}

.express-unity-wrapper {
  animation: slideIn 0.3s ease-out;
}

.express-unity-wrapper.sticky {
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: 101;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: none;
}

.express-unity-wrapper.sticky::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: -1;
  background: linear-gradient(
      90deg,
      #b2dfff00 0%,
      #b2dfffb3 0%,
      #b2dfff 40%,
      #b0acfe00 40%,
      #b0acfebf 39%,
      #b0acfe 100%
    ),
    linear-gradient(180deg, rgba(216, 216, 216, 0.00) 0%, rgba(216, 216, 216, 0.80) 58.62%, #d8d8d8 100%);
  filter: blur(40px);
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.express-unity-widget {
  padding: 0 var(--spacing-l);
}

.express-unity-wrapper.sticky .express-unity-widget {
  width: 720px;
}

.input-wrapper {
  display: flex;
  padding: 12px var(--spacing-xs);
  align-items: center;
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-white);
  background-image: linear-gradient(135deg, #fffc, #ffffff3d);
  box-shadow: 0 0 11px #0000001c;
  gap: var(--spacing-s);
}

.input-wrapper .input-field {
  padding: 9px 5px 10px;
  flex: 1;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-family: inherit;
  outline: none;
  background: #fff0;
}

.input-wrapper .input-field::placeholder {
  font-style: italic;
}

/* Action Buttons */
.action-wrapper {
  display: flex;
  gap: 10px;
}

.unity-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.unity-action-btn:focus {
  outline: 2px solid #005FCC;
}

.surprise-btn {
  border-radius: 16px;
  border: 2px solid #292929;
  color: #292929;
  font-size: 14px;
  font-weight: 700;
}

.surprise-btn.hidden {
  display: none;
}

.generate-btn {
  border-radius: 16px;
  background: #292929;
  border: 2px solid #292929;
}

.generate-btn .btn-text {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
}

.dropdown {
  background: linear-gradient(
      0deg,
      #FFF 0%,
      #FFF 100%
    ),
    linear-gradient(89deg, rgba(255, 255, 255, 0.80) 1.01%, rgba(255, 255, 255, 0.20) 111.14%);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  list-style: none;
  width: 100%;
  border-radius: 16px;
  padding: 8px 0;
  margin: 8px 0 0 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.dropdown.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}

.dropdown .dropdown-title-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.dropdown .dropdown-item {
  cursor: pointer;
  color: #292929;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;
}

.dropdown .dropdown-item.hidden {
  display: none;
}

.dropdown .dropdown-item.active,
.dropdown .dropdown-item:hover {
  background-color: #e6e6e6;
}

.dropdown .dropdown-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #292929;
  padding: 8px 16px;
}

.dropdown .dropdown-footer .tip-con {
  display: flex;
}

.dropdown .dropdown-footer .tip-con:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../../img/icons/info.svg);
  background-repeat: no-repeat;
  margin-right: 8px;
}

.dropdown .dropdown-footer .legal-text {
  color: #5258E4;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
}

.dropdown .dropdown-footer .legal-text:focus {
  outline: 2px solid #005FCC;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
  .express-unity-widget {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .aside.text2image.unity-enabled h1,
  .aside.text2image.unity-enabled h2,
  .aside.text2image.unity-enabled h3,
  .aside.text2image.unity-enabled h4,
  .aside.text2image.unity-enabled h5 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
  }

  .aside.text2image.unity-enabled p {
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
  }

  .interactive-area .express-unity-wrapper.sticky .express-unity-widget {
    width: 95%;
  }

  .input-wrapper {
    flex-direction: column;
  }

  .input-wrapper .input-field {
    width: 100%;
  }

  .action-wrapper {
    justify-content: flex-end;
    width: 100%;
  }

  .dropdown .dropdown-separator,
  .dropdown .dropdown-footer {
    display: none;
  }
}
