.aside.text2image.unity-enabled {
  overflow: unset;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area {
  display: inherit;
  justify-content: center;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area .text {
  max-width: 800px;
  margin: 56px 0 32px;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area .text .heading-xxl {
  color: #222;
  font-weight: 700;
}

.aside.text2image.unity-enabled .foreground.container .interactive-area .text .body-m {
  color: #222;
  font-style: normal;
  font-weight: 400;
}

.unity-enabled .interactive-area .express-unity-widget {
  padding: 0 40px 24px;
  position: relative;
}

.unity-enabled .interactive-area .express-unity-widget .autocomplete {
  position: relative;
}

.unity-enabled .interactive-area .express-unity-widget.sticky {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 720px;
}

.unity-enabled .interactive-area .express-unity-widget .input-wrapper {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: linear-gradient(89deg, rgba(255, 255, 255, 0.80) 1.01%, rgba(255, 255, 255, 0.20) 111.14%);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    gap: 24px;
}

.unity-enabled .interactive-area .express-unity-widget .input-wrapper .input-class {
    padding: 9px 5px 10px;
    align-items: flex-start;
    flex: 1 0 0;
    color: #222;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    border: none;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper {
    display: flex;
    gap: 10px;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .unity-action-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .unity-action-btn:focus {
  outline: 2px solid #005FCC;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .unity-action-btn .btn-icon img {
  width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  min-width: 20px;
  max-width: 20px;
  padding: 6px 6px 6px 14px;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .unity-action-btn .btn-text {
    display: flex;
    padding: 6px 16px 8px 0px;
    align-items: flex-start;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .surprise-btn-class {
    border-radius: 16px;
    border: 2px solid #292929;
    color: #292929;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .surprise-btn-class.hidden {
  display: none;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .generate-btn-class {
    display: flex;
    align-items: flex-start;
    border-radius: 16px;
    background: #292929;
    border: 2px solid #292929;
}

.unity-enabled .interactive-area .express-unity-widget .action-wrapper .generate-btn-class .btn-text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

  .unity-enabled .interactive-area .express-unity-widget .dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    width: 100%;
    border-radius: 16px;
    padding: 8px 0;
    text-align: left;
    margin: 8px 0 0 0;
    position: absolute;
    z-index: 1;
  }

  .unity-enabled .interactive-area .express-unity-widget.sticky .dropdown.open-upward {
    bottom: 100%;
    margin-bottom: 10px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown.hidden {
    display: none;
  }
  
  .unity-enabled .interactive-area .express-unity-widget .dropdown-title {
    font-weight: 700;
    font-size: 16px;
    color: #292929;
    line-height: 20.8px;
    padding: 0 16px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic {
    display:flex;
    align-items: center;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic .title-text {
    color: #909090;
    font-weight: 900;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic .refresh-btn {
    margin-left: 5px;
    background: transparent;
    border: 0;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic .refresh-btn:before {
    content: url(../../../img/icons/refresh-btn.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic .close-btn {
    margin-left: auto;
    background: transparent;
    border: 0;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.dynamic .close-btn:before {
    content: url(../../../img/icons/close-btn.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown-title.hidden {
    display: none;
  }
  
  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-item {
    cursor: pointer;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-empty-message {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-item.hidden {
    display: none;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-item.active {
    background-color: #e6e6e6;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-item:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../../../img/icons/prompt.svg);
    background-repeat: no-repeat;
    margin-right: 8px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-item.dynamic:before {
    background-image: url(../../../img/icons/search.svg);
  }
  
  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-separator {
    border-top: 1px solid #E1E1E1;
    margin: 0 16px;
  }
  
  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #292929;
    font-weight: 400;
    line-height: 24px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../../img/icons/info.svg);
    background-repeat: no-repeat;
    margin-right: 8px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer .tip-con .tip-text {
    font-weight: 700;
  }
  
  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer .legal-con {
    margin-left: auto;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer .legal-con:before {
    content: "|";
    color: #C6C6C6;
    margin-right: 8px;
    font-size: 12px;
  }

  .unity-enabled .interactive-area .express-unity-widget .dropdown .dropdown-footer .legal-con .legal-text {
    color: #5258E4;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
  }

  @media screen and (max-width: 600px) {
    .aside.text2image.unity-enabled .foreground.container {
      width: 100%;
      padding: 0 24px;
    }
  
    .unity-enabled .interactive-area .express-unity-widget {
      padding: 0;
    }
  
    .unity-enabled .interactive-area .express-unity-widget .input-wrapper {
      flex-direction: column;
    }
  
    .unity-enabled .interactive-area .express-unity-widget .input-wrapper .input-class {
      width: 100%;
    }
  
    .unity-enabled .interactive-area .express-unity-widget .action-wrapper {
      justify-content: flex-end;
      width: 100%;
    }
  }
